<form action="/display-job-opening" method="post">
  <label for="formTitle">Job Title:</label>
  <input type="text" name="formTitle" id="formTitle">
  <label for="formDescription">Description:</label>
  <input type="text" name="formDescription" id="formDescription">
  <label for="contactName">Contact Name:</label>
  <input type="text" name="contactName" id="contactName">
  <label for="contactEmail">Email:</label>
  <input type="text" name="contactEmail" id="contactEmail">
  <label for="contactPhoneNumber">Phone Number:</label>
  <input type="text" name="contactPhoneNumber" id="contactPhoneNumber">
  <button type="submit">Submit</button>
</form>